body {
    background-color: #FEFAEF !important; /* Korrigiert den Syntaxfehler */
    font-family: "Rubik", sans-serif;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.bg-danger {
    color: white;
}

.bg-success {
    color: white;
}

.text-center {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); /* Kartenanimation beim Hover */
}
