body {
    background-color: #FEFAEF; !important
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.bg-danger {
    color: white;
}

.bg-success {
    color: white;
}

.text-center {
    text-align: center;
}